@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-nunito-sans);
  --font-display: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 80px 0;
}

.emptylink {
  z-index: 3;
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.services h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 6px;
  bottom: -10px;
  left: 50%;
  background-color: rgb(237, 205, 31);
  transform: translate(-50%, -50%);
}

.services h3 {
  font-size: 26px;
  font-weight: 600;
  color: rgb(61, 89, 117);
  margin-bottom: 17px;
}

.services p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(59, 58, 58);
  text-align: left;
}
